## Data extraction
The goal of this notebook is simply to extract all data available in the data folder and aggregate these data into a single panda Dataframe

In [1]:
import pandas as pd
%matplotlib inline
from scipy import stats
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os

data_path="./data/all/"
files = os.listdir(data_path)
#list all the csv files availables in the data directory
files_csv = [i for i in files if i.endswith('.csv')]
print(files_csv[0])

year_borough_grocery.csv

In [3]:
def extract_agg_level(filename:str):
    '''Extract the aggreation level (borough,lsoa,msoa) from a given file name'''
    start=filename.find('_')+1
    stop=filename[start:].find('_')+start
    return filename[start:stop]

def create_dataframe(filename:str):
    '''Create a panda dataframe containing the data from the given file (filename) and add two columns : 
        the month and the aggregation level of the data'''
    
    month=filename[:3]
    agg_level=extract_agg_level(filename)
    df=pd.read_csv(data_path+filename,usecols=['area_id','energy_tot', 'fat', 'saturate', 'sugar', 'protein', 'carb', 'fibre', 'h_nutrients_calories'])
    df['month']=month
    df['agg_level']=agg_level
    return df

In [4]:
#extract and aggregate all the data from the data folder
all_data=[]
for file_name in files_csv:
    all_data.append(create_dataframe(file_name))
result=pd.concat(all_data)
result.head()

,area_id,fat,saturate,sugar,protein,carb,fibre,energy_tot,h_nutrients_calories,month,agg_level
0,E09000001,8.472985,3.361599,9.278065,5.253333,15.779639,1.619850,165.851751,1.618208,yea,borough
1,E09000002,9.209959,3.596834,10.793244,5.193872,19.784988,1.590335,187.174390,1.545272,yea,borough
2,E09000003,8.594464,3.407353,9.530548,5.129627,17.025950,1.638639,170.655504,1.581507,yea,borough
3,E09000004,9.119180,3.466346,10.941085,5.304496,19.997105,1.657118,187.754791,1.551703,yea,borough
4,E09000005,8.962466,3.559913,10.148610,5.132915,18.726476,1.585978,180.510586,1.555736,yea,borough

In [5]:
result.to_csv('data/tesco.csv',index=False)