## Data extraction
The goal of this notebook is simply to extract all data available in the data folder and aggregate these data into a single panda Dataframe

In [ ]:
import pandas as pd
%matplotlib inline
from scipy import stats
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [82]:
import os

data_path="C:/Users/Augustin/Desktop/ADA/P3/ada-2020-project-milestone-p3-p3_pleutre/data/all/"
files = os.listdir(data_path)
#list all the csv files availables in the data directory
files_csv = [i for i in files if i.endswith('.csv')]
print(files_csv[0])

Apr_borough_grocery.csv

In [83]:
def extract_agg_level(filename:str):
    '''Extract the aggreation level (borough,lsoa,msoa) from a given file name'''
    start=filename.find('_')+1
    stop=filename[start:].find('_')+start
    return filename[start:stop]

def create_dataframe(filename:str):
    '''Create a panda dataframe containing the data from the given file (filename) and add two columns : 
        the month and the aggregation level of the data'''
    
    month=filename[:3]
    agg_level=extract_agg_level(filename)
    df=pd.read_csv(data_path+filename,usecols=['energy_tot', 'fat', 'saturate', 'sugar', 'protein', 'carb', 'fibre', 'h_nutrients_calories'])
    df['month']=month
    df['agg_level']=agg_level
    return df

In [86]:
#extract and aggregate all the data from the data folder
all_data=[]
for file_name in files_csv:
    all_data.append(create_dataframe(file_name))
result=pd.concat(all_data)
result.head()

,fat,saturate,sugar,protein,carb,fibre,energy_tot,h_nutrients_calories,month,agg_level
0,8.458041,3.357529,9.187517,5.190379,15.656163,1.609087,165.206732,1.623542,Apr,borough
1,9.268406,3.607954,10.683555,5.150597,20.499594,1.580891,190.223194,1.533326,Apr,borough
2,8.482420,3.361327,9.287471,5.065980,16.725509,1.625202,168.236571,1.585315,Apr,borough
3,9.102892,3.476263,10.998802,5.215320,19.869426,1.645999,186.747871,1.550169,Apr,borough
4,9.250013,3.695182,10.120945,5.076840,18.526026,1.569537,181.971932,1.546401,Apr,borough